body {
  background-color: sandybrown;
}

p {
  background-color: salmon;
  color: navy;
  border: solid deeppink;}

h1 {
  color: crimson;
  font: small-caps bold 40px/1 sans-serif;}

h2 {
  color: crimson;
  font: small-caps bold 24px/1 sans-serif;}

li {
  background-color: paleturquoise;
  font: small-caps bold 24px/1 sans-serif;}

.navigationbar {
  background-color: crimson;
  font-family: "Lucida Console", "Courier New", monospace;}

.bodyparas {
  background-color: crimson;
  font-family: "Lucida Console", "Courier New", monospace;}


