* {
  margin: 10px;
}

body {
  background-color: #D9E4F6
}

nav {
  background-color: #ACD3DD;
  font-size: 30px;
  font-family: "Papyrus", Fantasy;
  color: #005266
}

h1 {
  color: #cc0066;
  font-size: 30px;
  font-family: "Papyrus", Fantasy;
  text-align: center;
}

h3 {
  color: #ff0066;
  font-size: 25px;
  font-family: "Papyrus", Fantasy;
}

img {
  height: 200px;
  width: 100%;
}

.bodyparasadenine {
  font-size: 20px;
  font-family: "Optima", sans-serif;
}

.bodyparasthymine {
  font-size: 20px;
  font-family: "Optima", sans-serif;
}

.bodyparascytosine {
  font-size: 20px;
  font-family: "Optima", sans-serif;
}

.bodyparasguanine {
  font-size: 20px;
  font-family: "Optima", sans-serif;
}

.bodyparashome {
  font-size: 20px;
  font-family: "Optima", sans-serif;
}
